<a name="" style="position: relative; float: right" id="" class="btn btn-primary" href="javascript:;;" role="button"
(click)="downloadReceipt()"><i class="fa fa-download"></i> Receipt</a>
<!--
<div id="receipt" [innerHTML]="viewContent">
-->
<div id="receipt" width="100%" height="100%">

  <iframe width="100%" height="100%" src="https://storage.googleapis.com/kubeet-cfdi.appspot.com/KUB150805PH7/cfdi_view.html">
  </iframe>
<!--
<div class="mt-5 mb-5" id="receipt" [innerHtml]="myTemplate">
  <object height="1250px" width="100%" type="text/html" data='https://storage.googleapis.com/kubeet-cfdi.appspot.com/KUB150805PH7/cfdi_view.html'> 
    <param value='https://storage.googleapis.com/kubeet-cfdi.appspot.com/KUB150805PH7/cfdi_view.html' name="src" />
    <param value="transparent" name="wmode"/>
  </object>
-->

</div>
  
<!--
   
  <div class="row">
    <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3" style="margin: auto">
    -->
<!--
    <object class="col-xs-12 col-sm-12 col-md-12" data="https://storage.googleapis.com/kubeet-cfdi.appspot.com/KUB150805PH7/cfdi_view.html"> 
      Your browser doesn’t support the object tag. 
  </object>
-->
  <!--
      <iframe class="well col-xs-12 col-sm-12 col-md-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0" style="margin: auto" src="https://storage.googleapis.com/kubeet-cfdi.appspot.com/KUB150805PH7/cfdi_view.html"></iframe>
  -->
      <!--
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <address>
            <strong>ikismail</strong>
            <br>
            Tamil Nadu, IN 600094
            <br>
            <abbr title="Phone">P:</abbr> (+91) 8124794942
          </address>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 text-right">
          <p>
            <em>Date: {{date | date}}</em>
          </p>
          <p>
            <em>Receipt #: 34522677W</em>
          </p>
        </div>
      </div>
    -->
    <!--
    <div class="row">
        <div class="text-center">
          <h1>Receipt</h1>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Product</th>
              <td></td>
              <th class="text-center">Price</th>
              <th class="text-center">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
              <td class="col-md-9">
                <h6><em>{{product.productName}}</em></h6>
              </td>
              <td></td>
              <td class="col-md-1 text-center">₹ {{product.productPrice}}</td>
              <td class="col-md-1 text-center">₹ {{product.productPrice}}</td>
            </tr>
            <tr>
              <td>   </td>
              <td>   </td>
              <td class="text-right">
                <p>
                  <strong>Subtotal: </strong>
                </p>
                <p>
                  <strong>Tax: </strong>
                </p>
              </td>
              <td class="text-center">
                <p>
                  <strong>{{totalPrice}}</strong>
                </p>
                <p>
                  <strong>₹ {{tax}}</strong>
                </p>
              </td>
            </tr>
            <tr>
              <td>   </td>
              <td>   </td>
              <td class="text-right">
                <p><strong>Total: </strong></p>
              </td>
              <td class="text-center text-danger">
                <h4><strong>₹ {{totalPrice + tax }}</strong></h4>
              </td>
            </tr>
          </tbody>
        </table>
      -->
   <!--     <button type="button" class="btn btn-success btn-lg btn-block">
          Pay Now   <span class="glyphicon glyphicon-chevron-right"></span>
        </button>-->
    <!--  </div> -->
<!--    </div>
 
 
  
  
  
  
  
  
  </div>
-->