<br><br>


<div class="row">


<div class="col-md-6 mb-3">
  <label for="productCategory">Folio:</label>
  <input type="text" class="form-control" id="productCategory" name="productCategory" 
    placeholder="Folio" value="" required>
  <div class="invalid-feedback">
    Valid last name is required.
  </div>
</div>

<div class="col-md-6 mb-3">
  <label for="productCategory">Consultorio: </label>
  <input type="text" class="form-control" id="productCategory" name="productCategory" 
    placeholder="Consultorio" value="" required>
  <div class="invalid-feedback">
    Valid last name is required.
  </div>
</div>


</div>


<div class="col-md-6 mb-3">
  <label for="productCategory">Turno:</label>
  <input type="text" class="form-control" id="productCategory" name="productCategory" 
    placeholder="Turno" value="" required>
  <div class="invalid-feedback">
    Valid last name is required.
  </div>
</div>

<div class="col-md-6 mb-3">
  <label for="productCategory">NSS:</label>
  <input type="text" class="form-control" id="productCategory" name="productCategory" 
    placeholder="NSS" value="" required>
  <div class="invalid-feedback">
    Valid last name is required.
  </div>
</div>

<div class="col-md-6 mb-3">
  <label for="productCategory">Agregado:</label>
  <input type="text" class="form-control" id="productCategory" name="productCategory" 
    placeholder="Agregado" value="" required>
  <div class="invalid-feedback">
    Valid last name is required.
  </div>
</div>

<div class="col-md-6 mb-3">
  <label for="productCategory">Apellido Paterno:</label>
  <input type="text" class="form-control" id="productCategory" name="productCategory" 
    placeholder="Apellido Paterno" value="" required>
  <div class="invalid-feedback">
    Valid last name is required.
  </div>
</div>

<div class="col-md-6 mb-3">
  <label for="productCategory">Apellido Materno</label>
  <input type="text" class="form-control" id="productCategory" name="productCategory" 
    placeholder="Apellido Materno" value="" required>
  <div class="invalid-feedback">
    Valid last name is required.
  </div>
</div>

<div class="col-md-6 mb-3">
  <label for="productCategory">Nombres</label>
  <input type="text" class="form-control" id="productCategory" name="productCategory" 
    placeholder="Nombres" value="" required>
  <div class="invalid-feedback">
    Valid last name is required.
  </div>
</div>

<div class="col-md-6 mb-3">
  <label for="productCategory">Fecha de Nacimiento</label>
  <input type="text" class="form-control" id="productCategory" name="productCategory" 
    placeholder="Fecha de nacimiento" value="" required>
  <div class="invalid-feedback">
    Valid last name is required.
  </div>
</div>

<div class="col-md-6 mb-3">
  <label for="productCategory">Numero Exterior</label>
  <input type="text" class="form-control" id="productCategory" name="productCategory" 
    placeholder="Numero Exterior" value="" required>
  <div class="invalid-feedback">
    Valid last name is required.
  </div>
</div>

<div class="col-md-6 mb-3">
  <label for="productCategory">Numero Interior</label>
  <input type="text" class="form-control" id="productCategory" name="productCategory" 
    placeholder="Numero Interior " value="" required>
  <div class="invalid-feedback">
    Valid last name is required.
  </div>
</div>

<div class="col-md-6 mb-3">
  <label for="productCategory">Calle</label>
  <input type="text" class="form-control" id="productCategory" name="productCategory" 
    placeholder="Calle" value="" required>
  <div class="invalid-feedback">
    Valid last name is required.
  </div>
</div>

<div class="col-md-6 mb-3">
  <label for="productCategory">Entre Calle </label>
  <input type="text" class="form-control" id="productCategory" name="productCategory" 
    placeholder="Entre Calle" value="" required>
  <div class="invalid-feedback">
    Valid last name is required.
  </div>
</div>

<div class="col-md-6 mb-3">
  <label for="productCategory">Y Calle</label>
  <input type="text" class="form-control" id="productCategory" name="productCategory" 
    placeholder="Y Calle" value="" required>
  <div class="invalid-feedback">
    Valid last name is required.
  </div>
</div>

<div class="col-md-6 mb-3">
  <label for="productCategory">Localidad :</label>
  <input type="text" class="form-control" id="productCategory" name="productCategory" 
    placeholder="Localidad" value="" required>
  <div class="invalid-feedback">
    Valid last name is required.
  </div>
</div>

<div class="col-md-6 mb-3">
  <label for="productCategory">Municipio: </label>
  <input type="text" class="form-control" id="productCategory" name="productCategory" 
    placeholder="Municipio" value="" required>
  <div class="invalid-feedback">
    Valid last name is required.
  </div>
</div>


<div class="col-md-6 mb-3">
  <label for="productCategory">Estado </label>
  <input type="text" class="form-control" id="productCategory" name="productCategory" 
    placeholder="Estado" value="" required>
  <div class="invalid-feedback">
    Valid last name is required.
  </div>
</div>


<div class="col-md-6 mb-3">
  <label for="productCategory">Codigo Postal</label>
  <input type="text" class="form-control" id="productCategory" name="productCategory" 
    placeholder="CP" value="" required>
  <div class="invalid-feedback">
    Valid last name is required.
  </div>
</div>


<div class="col-md-6 mb-3">
  <label for="productCategory">Edad</label>
  <input type="text" class="form-control" id="productCategory" name="productCategory" 
    placeholder="Edad" value="" required>
  <div class="invalid-feedback">
    Valid last name is required.
  </div>
</div>


<div class="col-md-6 mb-3">
  <label for="productCategory">Peso</label>
  <input type="text" class="form-control" id="productCategory" name="productCategory" 
    placeholder="Peso" value="" required>
  <div class="invalid-feedback">
    Valid last name is required.
  </div>
</div>


<div class="col-md-6 mb-3">
  <label for="productCategory">Estatura</label>
  <input type="text" class="form-control" id="productCategory" name="productCategory" 
    placeholder="Estatura" value="" required>
  <div class="invalid-feedback">
    Valid last name is required.
  </div>
</div>

<br>

<div class="col-lg-6 col-md-6 col-xl-6" style="padding: 20px;">
<!--<button class="btn btn-primary btn-lg btn-block" type="submit" (click)="addItem()">Guardar Datos</button>-->
<button type="submit" class="btn btn-success" (click)="addItem()"><h5>Guardar Datos</h5></button>
</div>
