<br>
<br>

<div class="container">
  <div class="row">
  
    <div class="col-sm-4">
      <ul class="list-group">
        <li class="list-group-item hoverable">
          <a [routerLink]="['/users']">Datos Empresa</a>
        </li>
        <li class="list-group-item hoverable">
          <a [routerLink]="['/clients/all-clients']">Usuarios</a>
        </li>
        <li class="list-group-item hoverable">
          <a [routerLink]="['/products/all-products']">Certificados</a>
        </li>
      </ul>
    </div>
  <!--
    <div class="col-sm-12">
      <router-outlet name="profileOutlet"></router-outlet>
    </div>
  -->
  </div>
</div>
