<br><br>


<div class="row">


  <div class="col-md-6 mb-3">
    <label for="productCategory">Numero de Seguro Social:</label>
    <input type="text" class="form-control" id="productCategory" name="productCategory"
           placeholder="Numero de seguro social" value="" required>
    <div class="invalid-feedback">
      Valid last name is required.
    </div>
  </div>

  <div class="col-md-6 mb-3">
    <label for="productCategory">Apellido Paterno: </label>
    <input type="text" class="form-control" id="productCategory" name="productCategory"
           placeholder="apellido paterno" value="" required>
    <div class="invalid-feedback">
      Valid last name is required.
    </div>
  </div>


</div>


<div class="col-md-6 mb-3">
  <label for="productCategory">Apellido Materno:</label>
  <input type="text" class="form-control" id="productCategory" name="productCategory"
         placeholder="apellido materno" value="" required>
  <div class="invalid-feedback">
    Valid last name is required.
  </div>
</div>

<div class="col-md-6 mb-3">
  <label for="productCategory">Nombre:</label>
  <input type="text" class="form-control" id="productCategory" name="productCategory"
         placeholder="nombre" value="" required>
  <div class="invalid-feedback">
    Valid last name is required.
  </div>
</div>

<div class="col-md-6 mb-3">
  <label for="productCategory">Dirección:</label>
  <input type="text" class="form-control" id="productCategory" name="productCategory"
         placeholder="dirección" value="" required>
  <div class="invalid-feedback">
    Valid last name is required.
  </div>
</div>

<div class="col-md-6 mb-3">
  <label for="productCategory">Numero Interior:</label>
  <input type="text" class="form-control" id="productCategory" name="productCategory"
         placeholder="numero interior" value="" required>
  <div class="invalid-feedback">
    Valid last name is required.
  </div>
</div>

<div class="col-md-6 mb-3">
  <label for="productCategory">Numero Exterior</label>
  <input type="text" class="form-control" id="productCategory" name="productCategory"
         placeholder="numero exterior" value="" required>
  <div class="invalid-feedback">
    Valid last name is required.
  </div>
</div>

<div class="col-md-6 mb-3">
  <label for="productCategory">Estado</label>
  <input type="text" class="form-control" id="productCategory" name="productCategory"
         placeholder="estado" value="" required>
  <div class="invalid-feedback">
    Valid last name is required.
  </div>
</div>

<div class="col-md-6 mb-3">
  <label for="productCategory">Municipio</label>
  <input type="text" class="form-control" id="productCategory" name="productCategory"
         placeholder="municipio" value="" required>
  <div class="invalid-feedback">
    Valid last name is required.
  </div>
</div>

<div class="col-md-6 mb-3">
  <label for="productCategory">Telefono</label>
  <input type="text" class="form-control" id="productCategory" name="productCategory"
         placeholder="telefono" value="" required>
  <div class="invalid-feedback">
    Valid last name is required.
  </div>
</div>

<div class="col-md-6 mb-3">
  <label for="productCategory">Codigo Postal</label>
  <input type="text" class="form-control" id="productCategory" name="productCategory"
         placeholder="codigo postal " value="" required>
  <div class="invalid-feedback">
    Valid last name is required.
  </div>
</div>




<br>

<div class="col-lg-6 col-md-6 col-xl-6" style="padding: 20px;">
  <!--<button class="btn btn-primary btn-lg btn-block" type="submit" (click)="addItem()">Guardar Datos</button>-->
  <button type="submit" class="btn btn-success" (click)="addItem()"><h5>Guardar Datos</h5></button>
</div>
