
<br>
<div class="container">
  <div class="row">
    
    <div class="col-sm-12">
      <div class="product-detail">
          <form class="needs-validation"  >
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="productName">Nombre de Instalación</label>
                  <input type="text" class="form-control" id="productName" name="productName"  placeholder="nombre "
                    value="" required>
                  <div class="invalid-feedback">
                    nombre es requerido.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="productCategory">Tipo de instalación</label>
                  <input type="text" class="form-control" id="productCategory" name="productCategory" 
                    placeholder="Tipo de instalación" value="" required>
                  <div class="invalid-feedback">
                    requerido
                  </div>
                </div>
              </div>
    
              <div class="mb-3">
                <label for="productDescription">Dirección	de la unidad
                  
                </label>
                <textarea type="text" class="form-control" id="productDescription" placeholder="Dirección	" name="productDescription"></textarea>
                  <div class="invalid-feedback"></div>
                  campo requerido
              </div>
    
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="productPrice">Tipo de unidad</label>
                  <input type="text" name="productPrice" class="form-control"  placeholder="Tipo de unidad"
                    id="productPrice" value="" required>
                  <div class="invalid-feedback">
                    campo requerido.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="productQuatity">Entre calles</label>
                  <input type="text" class="form-control" id="productQuatity" name="productQuatity" placeholder="calles"
                    value="" required>
                  <div class="invalid-feedback">
                    campo requerido
                  </div>
                </div>
              </div>
    
              <div class="mb-3">
                <label for="productSeller">Teléfono</label>
                <input type="text" class="form-control" id="productSeller" name="productSeller" placeholder="Teléfono"
                  required>
              </div>
              


              <div class="mb-3">
                  <label for="productClaveProdServ">Horario de atención</label>
                  <input type="text" class="form-control" id="productClaveProdServ" name="productClaveProdServ"
                    placeholder="Horario de atención" required>
                </div>


               
                
                  <div class="mb-3">
                      <label for="productUnidad">Unidad</label>
                      <input type="text" class="form-control" id="productUnidad" sname="productUnidad"
                        placeholder="Unidad" required>
                    </div>
            
                    <hr class="mb-4">
    
              <button class="btn btn-primary btn-lg btn-block" type="submit">agregar unidad</button>
            </form>
      </div>
    </div>
  </div>
</div>